* {
  margin: 0px;
  padding: 0px;
}

body {
  /* overflow: hidden; */
  background-color: var(--primary-color);
}

:root {
  --primary-color: #edf2f2;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #212121;
  --secondary-color: #edf2f2;
}

.circle {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 20px;
  height: 40px;
  margin: 10px auto;
}

#icon {
  width: 30px;
  cursor: pointer;
}

nav img {
  width: 80px;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: var(--secondary-color);
  /* transition: all 250ms ease; */
}

#click {
  display: none;
}

nav ul li a:hover,
nav ul li a.active {
  background: var(--secondary-color);
  padding: 8px 10px;
  border-radius: 5px;
  color: var(--primary-color);
}

nav .menu-btn {
  display: none;
  position: absolute;
  right: 0;
  padding-right: 30px;
  cursor: pointer;
  font-size: 30px;
}

.container {
  max-width: 80%;
  margin: 50px auto;
}

.container .left-side {
  text-align: center;
}

.container .left-side h1 {
  font-size: 60px;
  letter-spacing: 2px;
  color: var(--secondary-color);
}

.container .left-side h1 .green {
  color: green;
  font-family: "Viga", serif;
}

.container .left-side p {
  font-size: 20px;
  letter-spacing: 0.5px;
  color: var(--secondary-color);
}

.container .left-side a {
  display: inline-block;
  background: green;
  padding: 12px 18px 12px 18px;
  text-decoration: none;
  border-radius: 25px;
  color: white;
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
}

.container .right-side {
  text-align: center;
  margin-top: 60px;
}

.container .right-side img {
  max-width: 50%;
}

.container .right-side .box {
  position: absolute;
  display: grid;
  right: 0%;
  bottom: 0%;
}

.container .right-side .box img {
  width: 25px;
  margin: 10px;
}

.container .right-side .box img.facebook {
  width: 18.5px;
}

.thumb {
  display: flex;
  margin-top: -60px;
  justify-content: center;
}

.thumb a:hover {
  margin-top: -15px;
  transition: 0.2s;
}

.thumb img {
  width: 54px;
  margin: 20px;
}
